<div class="container">
  <header class="menu">

    <div class="logo">
      <img src="../assets/images/svg/logo_dashboard.svg" alt="logo">
    </div>

    <div class="status">
      <img class="logo" src="../assets/images/png/logo.png" alt="logo">

      <div class="date">
        <p>{{time}}</p>
        <p>{{date}}</p>
      </div>

      <img class="on" *ngIf="status == false" src="../assets/images/png/on.png" alt="ON">
      <img class="off" *ngIf="status == true" src="../assets/images/png/off.png" alt="OFF" (click)="logout()">
    </div>

  </header>

  <router-outlet>
    <!-- OUTPUT -->
  </router-outlet>
</div>