<section class="dashboard">

  <div class="login-info">
    <p>Pacjent:</p>
    <p>Joanna Aleksandrowicz</p>
  </div>

  <div class="login-info">
    <p>Zalogowany jako:</p>
    <p>dr {{username}}</p>
  </div>

  <div class="dash-item">

    <div class="item list-p">
      <p>lista pacjentów</p>
    </div>

    <div class="item scene">
      <p>sceny</p>

    </div>

    <div class="item controll">
      <p>sterowanie</p>
    </div>

    <div class="item media-pacs">
      <p>media (PACS)</p>
    </div>

  </div>

  <input class="end-op" type="submit" value="Zakończ zabieg" (click)="endOP()">

</section>