/* You can add global styles to this file, and also import other style files */

body {
    background: url('./assets/images/png/tlo_dashboard.png');
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}